{% extends "conteneur.html" %}
{% block corps %}
<h1>Bienvenue sur GenealoPy !</h1>

<div>
    <p>Projet Python réalisé dans le cadre du Master TNAH - Ecole Nationale des Chartes. </br>
        Fait par <b>Anahi Haedo</b>, étudiante en M2 de la promotion 2021 - 2022.</p>

    <p>L'application GenealoPy a pour objectif de partager des données genealogiques récoltées au sujet la famille <i>Poggi</i>.</p></div>

<div>
    <p> Dans cet outil c'est possible de rencontrer des informations sur les personnes, les relations entre chaque membre de la famille, les évenements, </br>
        les dates et les lieux. </br>
        Attention, chaque personne, lieu, relation ou évenement ont des identifiants uniques, comme sont des membre d'une même famille, </br>
        cherchez plutôt les informations par cet indentifiant unique dans les index. Dans la barre de recherche est possible de faire une recherche par nom, prénom et id. </br>
    </p>
</div>

# Ajout de l'image dans la page d'accueil

<img src="static/images/arbre.jpg"/>

{% endblock %}