{% extends "conteneur.html" %}
{% block corps %}
    <h2> Bienvenue dans l'index des relations </h2>
<p>
    Il y 9 relations enregistrées (classées par ordre alphabétique) :

        <ul>
            {% for liason in relacao.items %}
                <li><div class="card"><a href="{{url_for('liason', relation_id=liason.relation_id)}}">
                    <b>Type de relation </b>: {{liason.relation_nom}}<br/>
                    <b>Identifiant de la relation </b> : {{liason.relation_id}}<br/>
                    <b> Identifiant des personnes concernées </b> : {{liason.relation_personne_1_id}} et {{liason.relation_personne_2_id}}<br/>
                </a></div></li><br/>
            {% endfor %}
        </ul>

<nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in relacao.iter_pages() %}
            {% if page %}

              {% if page != relacao.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('index_relation', page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

          {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
          {% endif %}
        {%- endfor %}
      </ul>

<p class="text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('base')}}">Retour à l'index général.</a>
</button>
</p>
</nav>
{% endblock %}