{% extends "conteneur.html" %}
{% block corps %}
<h1 class="display-2">{{personnes.personne_prenom}} {{personnes.personne_nom}}</h1>
<dl>
    <dt>Identifiant de la personne</dt><dd>{{personnes.personne_id}}</dd>
    <dt>Nom de la personne</dt><dd>{{personnes.personne_nom}}</dd>
    <dt>Prénom de la personne</dt><dd>{{personnes.personne_prenom}}</dd>
    {% for evenement in evenement.evenement_personne_id} %}
    <dd>
        <ul>
        <li> <b>Type</b> de évenement : {{evenement.evenement_nom}}</li>
        <li> <b>Date</b> : <br/>"Par {{personnes.personne_nom}} {{personnes.personne_prenom}}, <br/> {{evenement.evenement_date}}"</li>

    {% endfor %}
        </ul>
    </dd>
</dl>

    {% if personnes.authorships %}
    <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Identifiant de la modification</th>
                        <th scope="col">Date de la modification</th>
                        <th scope="col">Nom du contributeur</th>
                    </thead>
                    <tbody>
                    {% for modification in personnes.authorships %}
                      <tr>
                        <td>Identifiant de la modification</td>
                        <td>{{modification.authorship_date}}</td>
                        <td>{{modification.user.user_nom}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
    {% else %}
            <table class="table table-bordered">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Historique des modifications</th>
                      </tr>
                      <tr>
                        <td> Cette fiche n'a pas encore été modifiée</td>
                      </tr>
                    </thead>
            </table>
    {%endif%}


<p class="col-md-12 text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('index_personnes')}}">Retour à l'index des personnes.</a>
</button>
</p>
{% endblock %}