{% extends "conteneur.html" %}

{% block corps %}
{% include "partials/recherche.html" %}
    <h1 class="text-center">{{titre}}</h1>
    {% if resultats %}
        <p>Il y a {{resultats.total}} de personne(s) qui répondent à votre requête :</p>
        <ul>
            {% for personnes in resultats.items %}
                <li><a href="{{url_for('personnes', personne_id=personnes.personne_id)}}">{{personnes.personne_nom}}</a></li>
            {% endfor %}{% endif %}
        </ul>

    <nav aria-label="research-pagination">
      <ul class="pagination">

              {% if page != resultats.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('recherche', keyword=keyword, page=page) }}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}

                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
      </ul>
    </nav>
<br/>
<p class="text-center">
<button type="button" class="btn btn-dark">
    <a class="text-light" href="{{url_for('homepage')}}">Retour à l'accueil.</a></li>
</button>
</p>
{% endblock %}